.form{
    width: 360px;
    padding: 20px;
    margin: 20px 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid #e2dff2;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(33, 33, 107, 0.35);
}

.form__group{
    width: 100%;
    display: flex;
    flex-direction: column;

    margin: 5px 0;
}

.form__group--checkbox{
    flex-direction: row;
    width: 100%;
}

.form__label{
    color: rgba(16, 16, 62, 0.8);
    font-size: 16px;
    font-weight: 700;
    line-height: 35px;
}

.form__label--checkbox{
    width: 50%;
}

.form__label--checkbox input{
    margin-right: 5px;
}

.form__input{
    display: block;
    width: 100%;
    height: 20px;
    padding: 20px;
    border: 1px solid #e2dff2;
    border-radius: 5px;
}

.form__buttonAdd{
    width: 100%;
    margin-top: 20px;
    padding: 15px;

    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;

    border: 0;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(33, 33, 107, 0.35);
    background-image: linear-gradient(71deg, #24246f 0%, #141455 100%);
    cursor: pointer;
}

.form__error{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    line-height: 40px;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    background-color: #f44336;
    border-radius: 5px;
}